.__react-json-view {
    line-height: 24px;
}

.__react-json-view-key {
    color: blueviolet;
}

.__react-json-view-value {
    padding-left: 8px;
    color: black;
}

.__react-json-view-bool {
    color: rgb(0, 0, 128);
}

.__react-json-view-number {
    color: blue;
}

.__react-json-view-array-item > .__react-json-view-value {
    padding-left: 0;
}

.__react-json-view-string {
    color: green;
}

.__react-json-view-tag {
    color: #ccc;
    padding-left: 10px;
    font-size: 14px;
}